NODE_ENV=******
PORT=12318
HOST=0.0.0.0
ACCEPTED_CLIENTS=http://localhost:5173
DATABASE_CONN_STRING=mongodb://localhost:27017/
DATABASE_NAME=portfolio_builder_backend?authSource=admin
ACCESS_TOKEN_EXP=10m
REF_TOKEN_EXP=5d
ACCESS_TOKEN_SEC=*********************************************
REFRESH_TOKEN_SEC=********************************************
X_API_EXP=28d
X_API_SEC=************
PASSPHRASE=***********
SALT=*****************
CV_URL=****************************************
PHOTO_URL=*************************************
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PWD=
REDIS_CACHED_AUTH_EXP=10
AWS_ACCESS_KEY_ID=***************************
AWS_SECRET_ACCESS_KEY=***********************
AWS_REGION=***********
AWS_BUCKET_NAME=**********
AWS_BUCKET_KEY=*********************
USER_PHONE=******************
CAPTCHA_LEN=6

# sensitive information have been marked with asterisk (*), please enter your values in place of them.